gMVVM.Silverlight/Service References/QLSoThu/QuanLySoThu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.QuanLySoThu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.QuanLySoThu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfZOO_BAOCAOTONKHO_SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZOO_BAOCAOTONKHO_SearchResult" nillable="true" type="tns:ZOO_BAOCAOTONKHO_SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZOO_BAOCAOTONKHO_SearchResult" nillable="true" type="tns:ArrayOfZOO_BAOCAOTONKHO_SearchResult" />
  <xs:complexType name="ZOO_BAOCAOTONKHO_SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DonViTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayHetHan" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SoLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TenThuoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_BAOCAOTONKHO_SearchResult" nillable="true" type="tns:ZOO_BAOCAOTONKHO_SearchResult" />
  <xs:complexType name="ZOO_PHIEUNHAPTHUOC">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUTH_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MAKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaPhieuNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayNhap" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RECORD_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_PHIEUNHAPTHUOC" nillable="true" type="tns:ZOO_PHIEUNHAPTHUOC" />
  <xs:complexType name="ZOO_PHIEUNHAPTHUOC_InsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaPhieuNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_PHIEUNHAPTHUOC_InsResult" nillable="true" type="tns:ZOO_PHIEUNHAPTHUOC_InsResult" />
  <xs:complexType name="ArrayOfZOO_PHIEUNHAPTHUOC_SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZOO_PHIEUNHAPTHUOC_SearchResult" nillable="true" type="tns:ZOO_PHIEUNHAPTHUOC_SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZOO_PHIEUNHAPTHUOC_SearchResult" nillable="true" type="tns:ArrayOfZOO_PHIEUNHAPTHUOC_SearchResult" />
  <xs:complexType name="ZOO_PHIEUNHAPTHUOC_SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUTH_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DonViTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaPhieuNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayNhap" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RECORD_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TenThuoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_PHIEUNHAPTHUOC_SearchResult" nillable="true" type="tns:ZOO_PHIEUNHAPTHUOC_SearchResult" />
  <xs:complexType name="ArrayOfZOO_THUOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZOO_THUOC" nillable="true" type="tns:ZOO_THUOC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZOO_THUOC" nillable="true" type="tns:ArrayOfZOO_THUOC" />
  <xs:complexType name="ZOO_THUOC">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUTH_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DonViTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaThuoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoTa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECORD_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenThuoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinhTrang" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_THUOC" nillable="true" type="tns:ZOO_THUOC" />
  <xs:complexType name="ZOO_PHIEUNHAPTHUOC_UpdResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaPhieuNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_PHIEUNHAPTHUOC_UpdResult" nillable="true" type="tns:ZOO_PHIEUNHAPTHUOC_UpdResult" />
  <xs:complexType name="ZOO_LOTHUOC">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUTH_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MAKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaThuoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayHetHan" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgaySanXuat" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RECORD_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_LOTHUOC" nillable="true" type="tns:ZOO_LOTHUOC" />
  <xs:complexType name="ZOO_LOTHUOC_InsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_LOTHUOC_InsResult" nillable="true" type="tns:ZOO_LOTHUOC_InsResult" />
  <xs:complexType name="ArrayOfZOO_LOTHUOC_SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZOO_LOTHUOC_SearchResult" nillable="true" type="tns:ZOO_LOTHUOC_SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZOO_LOTHUOC_SearchResult" nillable="true" type="tns:ArrayOfZOO_LOTHUOC_SearchResult" />
  <xs:complexType name="ZOO_LOTHUOC_SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUTH_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DonViTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaThuoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayHetHan" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgaySanXuat" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RECORD_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLuong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TenThuoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_LOTHUOC_SearchResult" nillable="true" type="tns:ZOO_LOTHUOC_SearchResult" />
  <xs:complexType name="ZOO_LOTHUOC_UpdResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaLo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZOO_LOTHUOC_UpdResult" nillable="true" type="tns:ZOO_LOTHUOC_UpdResult" />
</xs:schema>