gMVVM.Silverlight/Service References/QLSoThu/QuanLySoThu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuanLySoThu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36229/Services/QuanLySoThu/QuanLySoThu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36229/Services/QuanLySoThu/QuanLySoThu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36229/Services/QuanLySoThu/QuanLySoThu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.QuanLySoThu" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZOO_BaoCaoTonKho_LayBaoCaoTonKho_InputMessage">
    <wsdl:part name="parameters" element="tns:LayBaoCaoTonKho" />
  </wsdl:message>
  <wsdl:message name="IZOO_BaoCaoTonKho_LayBaoCaoTonKho_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayBaoCaoTonKhoResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_LuuPhieuNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:LuuPhieuNhap" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_LuuPhieuNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:LuuPhieuNhapResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_TimPhieuNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:TimPhieuNhap" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_TimPhieuNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimPhieuNhapResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_DanhSachThuoc_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachThuoc" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_DanhSachThuoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachThuocResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_ChinhSuaPhieuNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:ChinhSuaPhieuNhap" />
  </wsdl:message>
  <wsdl:message name="IZOO_PhieuNhapThuoc_ChinhSuaPhieuNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChinhSuaPhieuNhapResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_ThemLoThuocMoi_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemLoThuocMoi" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_ThemLoThuocMoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemLoThuocMoiResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_TimLoThuoc_InputMessage">
    <wsdl:part name="parameters" element="tns:TimLoThuoc" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_TimLoThuoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimLoThuocResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_TimLoThuocCombobox_InputMessage">
    <wsdl:part name="parameters" element="tns:TimLoThuocCombobox" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_TimLoThuocCombobox_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimLoThuocComboboxResponse" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_ChinhSuaLoThuoc_InputMessage">
    <wsdl:part name="parameters" element="tns:ChinhSuaLoThuoc" />
  </wsdl:message>
  <wsdl:message name="IZOO_LoThuoc_ChinhSuaLoThuoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChinhSuaLoThuocResponse" />
  </wsdl:message>
  <wsdl:portType name="IZOO_BaoCaoTonKho">
    <wsdl:operation name="LayBaoCaoTonKho">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_BaoCaoTonKho/LayBaoCaoTonKho" message="tns:IZOO_BaoCaoTonKho_LayBaoCaoTonKho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_BaoCaoTonKho/LayBaoCaoTonKhoResponse" message="tns:IZOO_BaoCaoTonKho_LayBaoCaoTonKho_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IZOO_PhieuNhapThuoc">
    <wsdl:operation name="LuuPhieuNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/LuuPhieuNhap" message="tns:IZOO_PhieuNhapThuoc_LuuPhieuNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/LuuPhieuNhapResponse" message="tns:IZOO_PhieuNhapThuoc_LuuPhieuNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimPhieuNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/TimPhieuNhap" message="tns:IZOO_PhieuNhapThuoc_TimPhieuNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/TimPhieuNhapResponse" message="tns:IZOO_PhieuNhapThuoc_TimPhieuNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/DanhSachThuoc" message="tns:IZOO_PhieuNhapThuoc_DanhSachThuoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/DanhSachThuocResponse" message="tns:IZOO_PhieuNhapThuoc_DanhSachThuoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChinhSuaPhieuNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/ChinhSuaPhieuNhap" message="tns:IZOO_PhieuNhapThuoc_ChinhSuaPhieuNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_PhieuNhapThuoc/ChinhSuaPhieuNhapResponse" message="tns:IZOO_PhieuNhapThuoc_ChinhSuaPhieuNhap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IZOO_LoThuoc">
    <wsdl:operation name="ThemLoThuocMoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_LoThuoc/ThemLoThuocMoi" message="tns:IZOO_LoThuoc_ThemLoThuocMoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_LoThuoc/ThemLoThuocMoiResponse" message="tns:IZOO_LoThuoc_ThemLoThuocMoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimLoThuoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_LoThuoc/TimLoThuoc" message="tns:IZOO_LoThuoc_TimLoThuoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_LoThuoc/TimLoThuocResponse" message="tns:IZOO_LoThuoc_TimLoThuoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimLoThuocCombobox">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_LoThuoc/TimLoThuocCombobox" message="tns:IZOO_LoThuoc_TimLoThuocCombobox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_LoThuoc/TimLoThuocComboboxResponse" message="tns:IZOO_LoThuoc_TimLoThuocCombobox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChinhSuaLoThuoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IZOO_LoThuoc/ChinhSuaLoThuoc" message="tns:IZOO_LoThuoc_ChinhSuaLoThuoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZOO_LoThuoc/ChinhSuaLoThuocResponse" message="tns:IZOO_LoThuoc_ChinhSuaLoThuoc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZOO_BaoCaoTonKho" type="tns:IZOO_BaoCaoTonKho">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayBaoCaoTonKho">
      <soap:operation soapAction="http://tempuri.org/IZOO_BaoCaoTonKho/LayBaoCaoTonKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IZOO_PhieuNhapThuoc" type="tns:IZOO_PhieuNhapThuoc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LuuPhieuNhap">
      <soap:operation soapAction="http://tempuri.org/IZOO_PhieuNhapThuoc/LuuPhieuNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimPhieuNhap">
      <soap:operation soapAction="http://tempuri.org/IZOO_PhieuNhapThuoc/TimPhieuNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachThuoc">
      <soap:operation soapAction="http://tempuri.org/IZOO_PhieuNhapThuoc/DanhSachThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChinhSuaPhieuNhap">
      <soap:operation soapAction="http://tempuri.org/IZOO_PhieuNhapThuoc/ChinhSuaPhieuNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IZOO_LoThuoc" type="tns:IZOO_LoThuoc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemLoThuocMoi">
      <soap:operation soapAction="http://tempuri.org/IZOO_LoThuoc/ThemLoThuocMoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimLoThuoc">
      <soap:operation soapAction="http://tempuri.org/IZOO_LoThuoc/TimLoThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimLoThuocCombobox">
      <soap:operation soapAction="http://tempuri.org/IZOO_LoThuoc/TimLoThuocCombobox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChinhSuaLoThuoc">
      <soap:operation soapAction="http://tempuri.org/IZOO_LoThuoc/ChinhSuaLoThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuanLySoThu">
    <wsdl:port name="BasicHttpBinding_IZOO_BaoCaoTonKho" binding="tns:BasicHttpBinding_IZOO_BaoCaoTonKho">
      <soap:address location="http://localhost:36229/Services/QuanLySoThu/QuanLySoThu.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IZOO_PhieuNhapThuoc" binding="tns:BasicHttpBinding_IZOO_PhieuNhapThuoc">
      <soap:address location="http://localhost:36229/Services/QuanLySoThu/QuanLySoThu.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IZOO_LoThuoc" binding="tns:BasicHttpBinding_IZOO_LoThuoc">
      <soap:address location="http://localhost:36229/Services/QuanLySoThu/QuanLySoThu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>