gMVVM.Silverlight/Service References/gMVVMService/gMVVMService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:36229/Services/Management/gMVVMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" />
  <xs:import schemaLocation="http://localhost:36229/Services/Management/gMVVMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management.Interfaces.SystemRole" />
  <xs:import schemaLocation="http://localhost:36229/Services/Management/gMVVMService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:36229/Services/Management/gMVVMService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management.Interfaces.AssCommon" />
  <xs:element name="ContainsTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q1:TL_USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainsTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContainsTLUSERResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CheckUserLoginResult" nillable="true" type="q2:TL_USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexConnect" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management.Interfaces.SystemRole" minOccurs="0" name="CheckLoginResult" nillable="true" type="q3:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllTLUSER">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByAllTLUSERResult" nillable="true" type="q4:ArrayOfTL_USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q5:TL_USER_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="InsertTLUSERResult" nillable="true" type="q6:TL_USER_InsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q7:TL_USER_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="UpdateTLUSERResult" nillable="true" type="q8:TL_USER_UpdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tlName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="DeleteTLUSERResult" nillable="true" type="q9:TL_USER_DelResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q10:TL_USER_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="ApproveTLUSERResult" nillable="true" type="q11:TL_USER_AppResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q12:TL_USER_SearchResult" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="SearchTLUSERResult" nillable="true" type="q13:ArrayOfTL_USER_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_top" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByTopTLUSERResult" nillable="true" type="q14:ArrayOfTL_USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAllTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="lstUser" nillable="true" type="q15:ArrayOfTL_USER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAllTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAllTLUSERResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCodeTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCodeTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendCodeTLUSERResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassTLUSER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassTLUSERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePassTLUSERResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfomation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfomationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetUserInfomationResult" nillable="true" type="q16:TL_USER_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginADResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllTLSYSROLE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllTLSYSROLEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByAllTLSYSROLEResult" nillable="true" type="q17:ArrayOfTL_SYSROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTLSYSROLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q18:TL_SYSROLE" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="lstRoleDetail" nillable="true" type="q19:ArrayOfTL_SYSROLEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTLSYSROLEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTLSYSROLEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTLSYSROLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q20:TL_SYSROLE" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="lstUpdate" nillable="true" type="q21:ArrayOfTL_SYSROLEDETAIL" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="lstInsert" nillable="true" type="q22:ArrayOfTL_SYSROLEDETAIL" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstDelete" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTLSYSROLEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTLSYSROLEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTLSYSROLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q24:TL_SYSROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTLSYSROLEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTLSYSROLEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLSYSROLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_top" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLSYSROLEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByTopTLSYSROLEResult" nillable="true" type="q25:ArrayOfTL_SYSROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLROLEDETAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_top" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLROLEDETAILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByTopTLROLEDETAILResult" nillable="true" type="q26:ArrayOfTL_SYSROLEDETAIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllTLMENU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllTLMENUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByAllTLMENUResult" nillable="true" type="q27:ArrayOfTL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTLMENU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q28:TL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTLMENUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTLMENUResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTLMENU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q29:TL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTLMENUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTLMENUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTLMENU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q30:TL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTLMENUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTLMENUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLMENU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_top" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopTLMENUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByTopTLMENUResult" nillable="true" type="q31:ArrayOfTL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentTLMENU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentTLMENUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetParentTLMENUResult" nillable="true" type="q32:ArrayOfTL_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllBranch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByAllBranchResult" nillable="true" type="q33:ArrayOfCM_BRANCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q34:CM_BRANCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q35:CM_BRANCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_top" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByTopBranchResult" nillable="true" type="q36:ArrayOfCM_BRANCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q37:CM_BRANCH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByParentBranchID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByParentBranchIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByParentBranchIDResult" nillable="true" type="q38:ArrayOfCM_BRANCH_GETALLCHILDResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_BRANCH_Level">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_BRANCH_LevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management.Interfaces.AssCommon" minOccurs="0" name="CM_BRANCH_LevelResult" nillable="true" type="q39:BranchLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q40:CM_BRANCH_SearchResult" />
        <xs:element minOccurs="0" name="branchLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="top" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="BranchSearchResult" nillable="true" type="q41:ArrayOfCM_BRANCH_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDEPARTMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q42:CM_DEPARTMENT_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDEPARTMENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="InsertDEPARTMENTResult" nillable="true" type="q43:CM_DEPARTMENT_InsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDEPARTMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q44:CM_DEPARTMENT_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDEPARTMENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="UpdateDEPARTMENTResult" nillable="true" type="q45:CM_DEPARTMENT_UpdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDEPARTMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDEPARTMENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="DeleteDEPARTMENTResult" nillable="true" type="q46:CM_DEPARTMENT_DelResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDEPARTMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q47:CM_DEPARTMENT_SearchResult" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchDEPARTMENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="SearchDEPARTMENTResult" nillable="true" type="q48:ArrayOfCM_DEPARTMENT_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveDEPARTMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q49:CM_DEPARTMENT_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveDEPARTMENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="ApproveDEPARTMENTResult" nillable="true" type="q50:CM_DEPARTMENT_AppResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPARTMENT_Lst">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPARTMENT_LstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_DEPARTMENT_LstResult" nillable="true" type="q51:ArrayOfCM_DEPARTMENT_LstResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllArgument">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByAllArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByAllArgumentResult" nillable="true" type="q52:ArrayOfSYS_PARAMETER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q53:SYS_PARAMETER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertArgumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q54:SYS_PARAMETER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateArgumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteArgumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_top" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_where" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTopArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetByTopArgumentResult" nillable="true" type="q55:ArrayOfSYS_PARAMETER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveArgument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q56:SYS_PARAMETER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveArgumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveArgumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paraKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="GetParameterByIdResult" nillable="true" type="q57:SYS_PARAMETERS_ByIdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_ById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CDNAME" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CDTYPE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_ByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_ALLCODE_ByIdResult" nillable="true" type="q58:ArrayOfCM_ALLCODE_ByIdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q59:CM_ALLCODE_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_ALLCODE_InsResult" nillable="true" type="q60:CM_ALLCODE_InsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q61:CM_ALLCODE_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_ALLCODE_UpdResult" nillable="true" type="q62:CM_ALLCODE_UpdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_Del">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_DelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_ALLCODE_DelResult" nillable="true" type="q63:CM_ALLCODE_DelResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_By_Type_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CDTYPE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_By_Type_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_ALLCODE_By_Type_IdResult" nillable="true" type="q64:ArrayOfCM_ALLCODE_By_Type_IdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q65:CM_ALLCODE_SearchResult" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_ALLCODE_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_ALLCODE_SearchResult" nillable="true" type="q66:ArrayOfCM_ALLCODE_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_Ins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q67:CM_DEPT_GROUP_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_InsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_DEPT_GROUP_InsResult" nillable="true" type="q68:CM_DEPT_GROUP_InsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_Upd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q69:CM_DEPT_GROUP_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_UpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_DEPT_GROUP_UpdResult" nillable="true" type="q70:CM_DEPT_GROUP_UpdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_Del">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_DelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_DEPT_GROUP_DelResult" nillable="true" type="q71:CM_DEPT_GROUP_DelResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCM_DEPT_GROUP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q72:CM_DEPT_GROUP_SearchResult" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCM_DEPT_GROUPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="SearchCM_DEPT_GROUPResult" nillable="true" type="q73:ArrayOfCM_DEPT_GROUP_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_Appr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="data" nillable="true" type="q74:CM_DEPT_GROUP_SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CM_DEPT_GROUP_ApprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.Management" minOccurs="0" name="CM_DEPT_GROUP_ApprResult" nillable="true" type="q75:CM_DEPT_GROUP_ApprResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>