gMVVM.Silverlight/Service References/GhiNhanService/GhiNhanKeHoach.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.KeHoach" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.KeHoach" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CM_DOMAIN">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUTH_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOMAIN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOMAIN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOMAIN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDIT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="END_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MAKER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECORD_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CM_DOMAIN" nillable="true" type="tns:CM_DOMAIN" />
  <xs:complexType name="CM_DOMAIN_InsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOMAIN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CM_DOMAIN_InsResult" nillable="true" type="tns:CM_DOMAIN_InsResult" />
</xs:schema>