gMVVM.Silverlight/Service References/GhiNhanService/GhiNhanKeHoach.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GhiNhanKeHoach" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36229/Services/KeHoach/GhiNhanKeHoach.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36229/Services/KeHoach/GhiNhanKeHoach.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36229/Services/KeHoach/GhiNhanKeHoach.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.KeHoach" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGhiNhan_BaoCaoGhiNhan_InputMessage">
    <wsdl:part name="parameters" element="tns:BaoCaoGhiNhan" />
  </wsdl:message>
  <wsdl:message name="IGhiNhan_BaoCaoGhiNhan_OutputMessage">
    <wsdl:part name="parameters" element="tns:BaoCaoGhiNhanResponse" />
  </wsdl:message>
  <wsdl:message name="ICM_Domain_InsertDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDomain" />
  </wsdl:message>
  <wsdl:message name="ICM_Domain_InsertDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDomainResponse" />
  </wsdl:message>
  <wsdl:portType name="IGhiNhan">
    <wsdl:operation name="BaoCaoGhiNhan">
      <wsdl:input wsaw:Action="http://tempuri.org/IGhiNhan/BaoCaoGhiNhan" message="tns:IGhiNhan_BaoCaoGhiNhan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGhiNhan/BaoCaoGhiNhanResponse" message="tns:IGhiNhan_BaoCaoGhiNhan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICM_Domain">
    <wsdl:operation name="InsertDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/ICM_Domain/InsertDomain" message="tns:ICM_Domain_InsertDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICM_Domain/InsertDomainResponse" message="tns:ICM_Domain_InsertDomain_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGhiNhan" type="tns:IGhiNhan">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BaoCaoGhiNhan">
      <soap:operation soapAction="http://tempuri.org/IGhiNhan/BaoCaoGhiNhan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICM_Domain" type="tns:ICM_Domain">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertDomain">
      <soap:operation soapAction="http://tempuri.org/ICM_Domain/InsertDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GhiNhanKeHoach">
    <wsdl:port name="BasicHttpBinding_IGhiNhan" binding="tns:BasicHttpBinding_IGhiNhan">
      <soap:address location="http://localhost:36229/Services/KeHoach/GhiNhanKeHoach.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICM_Domain" binding="tns:BasicHttpBinding_ICM_Domain">
      <soap:address location="http://localhost:36229/Services/KeHoach/GhiNhanKeHoach.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>