gMVVM.Silverlight/Service References/GhiNhanService/GhiNhanKeHoach1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:36229/Services/KeHoach/GhiNhanKeHoach.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.KeHoach" />
  <xs:element name="BaoCaoGhiNhan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaoCaoGhiNhanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaoCaoGhiNhanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.KeHoach" minOccurs="0" name="data" nillable="true" type="q1:CM_DOMAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/gMVVM.Web.Services.KeHoach" minOccurs="0" name="InsertDomainResult" nillable="true" type="q2:CM_DOMAIN_InsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>