gMVVM.Silverlight/Service References/SessionService/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36227/Services/EduBanking/SessionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36227/Services/EduBanking/SessionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionService_GetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISessionService">
    <wsdl:operation name="GetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetSession" message="tns:ISessionService_GetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetSessionResponse" message="tns:ISessionService_GetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/SetSession" message="tns:ISessionService_SetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/SetSessionResponse" message="tns:ISessionService_SetSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISessionService" type="tns:ISessionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/SetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="BasicHttpBinding_ISessionService" binding="tns:BasicHttpBinding_ISessionService">
      <soap:address location="http://localhost:36227/Services/EduBanking/SessionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>